@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
font-family:'Inter'
}
.w1 {
width: 100%;
}

.w2 {
width: 50%;
float: left;
}
.container {
max-width: 82ch;
margin:auto;
padding:30px;
box-shadow: 0 0.3rem 1.2rem 0 rgb(5 10 15 / 19%);
}
.h1 {
height: 300px;
}
:active, :hover, :focus {
outline: 0 !important;
outline-offset: 0 !important;
}
button {
font-family: 'Inter';
background: #fff;
border: 1px solid #e1e4e8;
border-radius: 3px;
padding: 5px;
}
.textarea {
font-family: 'Inter';
margin-top: 10px;
margin-bottom: 10px;
}
input {
  font-family:'Inter';
}
