@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
font-family:'Inter'
}
.w1 {
width: 100%;
}

.w2 {
width: 50%;
float: left;
}
.container {
max-width: 82ch;
margin:auto;
}
.h1 {
height: 300px;
}
:active, :hover, :focus {
outline: 0;
outline-offset: 0;
}
button {
font-family: 'Inter';
}
.textarea {
font-family: 'Inter';
}
input {
  font-family:'Inter';
}
